@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.add-alarm span {
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 1.7rem;
  border-radius: 50%;
  box-shadow: 7px 7px 15px #c0c8cf, -7px -7px 15px #ffffff;
  text-align: center;
  line-height: 35px;
}

.set-time .reger-group, .set-time .get-time, .laps li, .laps, .sw-Contoler, .sw-timer, .appButton .btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.appendDate, .appendAlarm, .alarm-btn, .celander, .stopwatch, .clock, .setting {
  display: flex;
  align-items: center;
}

:root {
  --bg-color: #e9e9e9;
  --bg-appColor: #e2ecf8;
  --bg-btnColor: #e4eef7;
  --bg-clock: #e9f3ff;
  --clock-handel: #323e56;
  --app-textColor: #5b6571;
  --gray-shadow: #c0c8cf;
  --light-shadow: #ffffff;
  --maxWidth: 100%;
  --maxHeight: 100%;
  --radius: 50%;
  --neo-shadow: 7px 7px 15px var(--gray-shadow), -7px -7px 22px var(--light-shadow);
  --font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  outline: none;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--clock-handel);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-alarm span {
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 1.7rem;
  border-radius: 50%;
  box-shadow: 7px 7px 15px #c0c8cf, -7px -7px 15px #ffffff;
  text-align: center;
  line-height: 35px;
}

.set-time .reger-group, .set-time .get-time, .laps li, .laps, .sw-Contoler, .sw-timer, .appButton .btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.appendDate, .appendAlarm, .alarm-btn, .celander, .stopwatch, .clock, .setting {
  display: flex;
  align-items: center;
}

.add-alarm span {
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 1.7rem;
  border-radius: 50%;
  box-shadow: 7px 7px 15px #c0c8cf, -7px -7px 15px #ffffff;
  text-align: center;
  line-height: 35px;
}

.set-time .reger-group, .set-time .get-time, .laps li, .laps, .sw-Contoler, .sw-timer, .appButton .btn-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.appendDate, .appendAlarm, .alarm-btn, .celander, .stopwatch, .clock, .setting {
  display: flex;
  align-items: center;
}

:root {
  --bg-color: #e9e9e9;
  --bg-appColor: #e2ecf8;
  --bg-btnColor: #e4eef7;
  --bg-clock: #e9f3ff;
  --clock-handel: #323e56;
  --app-textColor: #5b6571;
  --gray-shadow: #c0c8cf;
  --light-shadow: #ffffff;
  --maxWidth: 100%;
  --maxHeight: 100%;
  --radius: 50%;
  --neo-shadow: 7px 7px 15px var(--gray-shadow), -7px -7px 22px var(--light-shadow);
  --font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
  outline: none;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  color: var(--clock-handel);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 260px;
  height: 530px;
  display: grid;
  grid-template-rows: 30px 420px 80px;
  background-color: var(--bg-appColor);
  margin-top: 1%;
  border-radius: 20px;
  box-shadow: 38px 38px 66px var(--gray-shadow), -20px -20px 40px var(--light-shadow);
  position: relative;
}

.notification {
  font-size: 1.2rem;
}
.notification .notific-icons {
  width: var(--maxWidth);
  height: var(--maxHeight);
  display: grid;
  grid-template-columns: 200px 20px 20px 20px;
  align-items: center;
}
.notification .time {
  display: block;
  width: var(--maxWidth);
  padding-left: 10px;
  font-size: 1.4rem;
}

.appButton {
  font-size: 1.7rem;
}
.appButton .btn-group {
  width: var(--maxWidth);
  height: var(--maxHeight);
}
.appButton .btn-group span {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: var(--bg-btnColor);
  border-radius: 10px;
  box-shadow: var(--neo-shadow);
}

.setting {
  width: var(--maxWidth);
  height: 50px;
  justify-content: flex-end;
  padding-right: 15px;
}
.setting span {
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 1.7rem;
  border-radius: var(--radius);
  box-shadow: var(--neo-shadow);
  text-align: center;
  line-height: 35px;
}

/** clock style */
.clock {
  width: var(--maxWidth);
  height: var(--maxHeight);
  flex-direction: column;
  display: none;
}

.clock-wrapper {
  width: 80%;
  height: 50%;
  background-color: var(--bg-clock);
  border-radius: 50%;
  box-shadow: 5px 5px 10px #cfd9e1, -5px -5px 10px #f9ffff;
  position: relative;
}

.clockline {
  width: var(--maxWidth);
  height: var(--maxHeight);
  transform: translateX(-1%);
}
.clockline li {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 5px;
  background-color: var(--clock-handel);
}
.clockline li:nth-child(1) {
  transform: translate(97.806619386px, 6.1534709139px) rotate(453.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.1s;
}
.clockline li:nth-child(2) {
  transform: translate(97.2272407288px, 12.2826568893px) rotate(457.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.2s;
}
.clockline li:nth-child(3) {
  transform: translate(96.2641505714px, 18.3633688294px) rotate(460.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.3s;
}
.clockline li:nth-child(4) {
  transform: translate(94.9211497906px, 24.3716089422px) rotate(464.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.4s;
}
.clockline li:nth-child(5) {
  transform: translate(93.2035385969px, 30.2836654487px) rotate(468deg);
  transform-origin: 100% 0%;
  animation-delay: 0.5s;
  height: 15px;
}
.clockline li:nth-child(6) {
  transform: translate(91.118095617px, 36.0762061631px) rotate(471.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.6s;
}
.clockline li:nth-child(7) {
  transform: translate(88.6730511417px, 41.7263705734px) rotate(475.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.7s;
}
.clockline li:nth-child(8) {
  transform: translate(85.8780546443px, 47.211860062px) rotate(478.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.8s;
}
.clockline li:nth-child(9) {
  transform: translate(82.7441366992px, 52.5110259079px) rotate(482.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.9s;
}
.clockline li:nth-child(10) {
  transform: translate(79.2836654487px, 57.6029547247px) rotate(486deg);
  transform-origin: 100% 0%;
  animation-delay: 0.10s;
  height: 15px;
}
.clockline li:nth-child(11) {
  transform: translate(75.510297792px, 62.4675509954px) rotate(489.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.11s;
}
.clockline li:nth-child(12) {
  transform: translate(71.4389254873px, 67.085616381px) rotate(493.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.12s;
}
.clockline li:nth-child(13) {
  transform: translate(67.085616381px, 71.4389254873px) rotate(496.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.13s;
}
.clockline li:nth-child(14) {
  transform: translate(62.4675509954px, 75.510297792px) rotate(500.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.14s;
}
.clockline li:nth-child(15) {
  transform: translate(57.6029547247px, 79.2836654487px) rotate(504deg);
  transform-origin: 100% 0%;
  animation-delay: 0.15s;
  height: 15px;
}
.clockline li:nth-child(16) {
  transform: translate(52.5110259079px, 82.7441366992px) rotate(507.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.16s;
}
.clockline li:nth-child(17) {
  transform: translate(47.211860062px, 85.8780546443px) rotate(511.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.17s;
}
.clockline li:nth-child(18) {
  transform: translate(41.7263705734px, 88.6730511417px) rotate(514.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.18s;
}
.clockline li:nth-child(19) {
  transform: translate(36.0762061631px, 91.1180956171px) rotate(518.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.19s;
}
.clockline li:nth-child(20) {
  transform: translate(30.2836654487px, 93.2035385969px) rotate(522deg);
  transform-origin: 100% 0%;
  animation-delay: 0.20s;
  height: 15px;
}
.clockline li:nth-child(21) {
  transform: translate(24.3716089421px, 94.9211497906px) rotate(525.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.21s;
}
.clockline li:nth-child(22) {
  transform: translate(18.3633688294px, 96.2641505714px) rotate(529.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.22s;
}
.clockline li:nth-child(23) {
  transform: translate(12.2826568893px, 97.2272407288px) rotate(532.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.23s;
}
.clockline li:nth-child(24) {
  transform: translate(6.1534709139px, 97.806619386px) rotate(536.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.24s;
}
.clockline li:nth-child(25) {
  transform: translate(0px, 98px) rotate(540deg);
  transform-origin: 100% 0%;
  animation-delay: 0.25s;
  height: 15px;
}
.clockline li:nth-child(26) {
  transform: translate(-6.1534709139px, 97.806619386px) rotate(543.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.26s;
}
.clockline li:nth-child(27) {
  transform: translate(-12.2826568893px, 97.2272407288px) rotate(547.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.27s;
}
.clockline li:nth-child(28) {
  transform: translate(-18.3633688294px, 96.2641505714px) rotate(550.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.28s;
}
.clockline li:nth-child(29) {
  transform: translate(-24.3716089422px, 94.9211497906px) rotate(554.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.29s;
}
.clockline li:nth-child(30) {
  transform: translate(-30.2836654488px, 93.2035385969px) rotate(558deg);
  transform-origin: 100% 0%;
  animation-delay: 0.30s;
  height: 15px;
}
.clockline li:nth-child(31) {
  transform: translate(-36.0762061631px, 91.118095617px) rotate(561.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.31s;
}
.clockline li:nth-child(32) {
  transform: translate(-41.7263705734px, 88.6730511417px) rotate(565.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.32s;
}
.clockline li:nth-child(33) {
  transform: translate(-47.211860062px, 85.8780546443px) rotate(568.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.33s;
}
.clockline li:nth-child(34) {
  transform: translate(-52.511025908px, 82.7441366992px) rotate(572.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.34s;
}
.clockline li:nth-child(35) {
  transform: translate(-57.6029547247px, 79.2836654487px) rotate(576deg);
  transform-origin: 100% 0%;
  animation-delay: 0.35s;
  height: 15px;
}
.clockline li:nth-child(36) {
  transform: translate(-62.4675509954px, 75.510297792px) rotate(579.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.36s;
}
.clockline li:nth-child(37) {
  transform: translate(-67.085616381px, 71.4389254873px) rotate(583.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.37s;
}
.clockline li:nth-child(38) {
  transform: translate(-71.4389254873px, 67.085616381px) rotate(586.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.38s;
}
.clockline li:nth-child(39) {
  transform: translate(-75.510297792px, 62.4675509954px) rotate(590.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.39s;
}
.clockline li:nth-child(40) {
  transform: translate(-79.2836654487px, 57.6029547247px) rotate(594deg);
  transform-origin: 100% 0%;
  animation-delay: 0.40s;
  height: 15px;
}
.clockline li:nth-child(41) {
  transform: translate(-82.7441366991px, 52.5110259079px) rotate(597.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.41s;
}
.clockline li:nth-child(42) {
  transform: translate(-85.8780546441px, 47.211860062px) rotate(601.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.42s;
}
.clockline li:nth-child(43) {
  transform: translate(-88.6730511414px, 41.7263705734px) rotate(604.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.43s;
}
.clockline li:nth-child(44) {
  transform: translate(-91.1180956166px, 36.0762061631px) rotate(608.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.44s;
}
.clockline li:nth-child(45) {
  transform: translate(-93.2035385962px, 30.2836654488px) rotate(612deg);
  transform-origin: 100% 0%;
  animation-delay: 0.45s;
  height: 15px;
}
.clockline li:nth-child(46) {
  transform: translate(-94.9211497894px, 24.3716089423px) rotate(615.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.46s;
}
.clockline li:nth-child(47) {
  transform: translate(-96.2641505695px, 18.3633688296px) rotate(619.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.47s;
}
.clockline li:nth-child(48) {
  transform: translate(-97.2272407258px, 12.2826568897px) rotate(622.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.48s;
}
.clockline li:nth-child(49) {
  transform: translate(-97.8066193812px, 6.1534709145px) rotate(626.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.49s;
}
.clockline li:nth-child(50) {
  transform: translate(-97.9999999926px, 0.000000001px) rotate(630deg);
  transform-origin: 100% 0%;
  animation-delay: 0.50s;
  height: 15px;
}
.clockline li:nth-child(51) {
  transform: translate(-97.8066193745px, -6.1534709123px) rotate(633.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.51s;
}
.clockline li:nth-child(52) {
  transform: translate(-97.2272407113px, -12.2826568868px) rotate(637.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.52s;
}
.clockline li:nth-child(53) {
  transform: translate(-96.2641505447px, -18.3633688256px) rotate(640.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.53s;
}
.clockline li:nth-child(54) {
  transform: translate(-94.9211497504px, -24.3716089362px) rotate(644.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.54s;
}
.clockline li:nth-child(55) {
  transform: translate(-93.2035385368px, -30.2836654397px) rotate(648deg);
  transform-origin: 100% 0%;
  animation-delay: 0.55s;
  height: 15px;
}
.clockline li:nth-child(56) {
  transform: translate(-91.1180955277px, -36.0762061494px) rotate(651.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.56s;
}
.clockline li:nth-child(57) {
  transform: translate(-88.6730510099px, -41.7263705528px) rotate(655.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.57s;
}
.clockline li:nth-child(58) {
  transform: translate(-85.8780544513px, -47.2118600314px) rotate(658.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.58s;
}
.clockline li:nth-child(59) {
  transform: translate(-82.7441364184px, -52.5110258626px) rotate(662.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.59s;
}
.clockline li:nth-child(60) {
  transform: translate(-79.2836650426px, -57.602954658px) rotate(666deg);
  transform-origin: 100% 0%;
  animation-delay: 0.60s;
  height: 15px;
}
.clockline li:nth-child(61) {
  transform: translate(-75.5102972083px, -62.4675508979px) rotate(669.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.61s;
}
.clockline li:nth-child(62) {
  transform: translate(-71.4389246532px, -67.0856162395px) rotate(673.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.62s;
}
.clockline li:nth-child(63) {
  transform: translate(-67.085615196px, -71.4389252829px) rotate(676.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.63s;
}
.clockline li:nth-child(64) {
  transform: translate(-62.4675493212px, -75.5102974987px) rotate(680.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.64s;
}
.clockline li:nth-child(65) {
  transform: translate(-57.6029523722px, -79.28366503px) rotate(684deg);
  transform-origin: 100% 0%;
  animation-delay: 0.65s;
  height: 15px;
}
.clockline li:nth-child(66) {
  transform: translate(-52.5110226194px, -82.7441361048px) rotate(687.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.66s;
}
.clockline li:nth-child(67) {
  transform: translate(-47.2118554882px, -85.8780538051px) rotate(691.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.67s;
}
.clockline li:nth-child(68) {
  transform: translate(-41.7263642432px, -88.6730499627px) rotate(694.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.68s;
}
.clockline li:nth-child(69) {
  transform: translate(-36.0761974437px, -91.1180939691px) rotate(698.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.69s;
}
.clockline li:nth-child(70) {
  transform: translate(-30.283653494px, -93.2035363046px) rotate(702deg);
  transform-origin: 100% 0%;
  animation-delay: 0.70s;
  height: 15px;
}
.clockline li:nth-child(71) {
  transform: translate(-24.3715926252px, -94.9211466169px) rotate(705.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.71s;
}
.clockline li:nth-child(72) {
  transform: translate(-18.3633466558px, -96.2641461974px) rotate(709.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.72s;
}
.clockline li:nth-child(73) {
  transform: translate(-12.2826268848px, -97.2272347274px) rotate(712.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.73s;
}
.clockline li:nth-child(74) {
  transform: translate(-6.1534304809px, -97.8066111872px) rotate(716.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.74s;
}
.clockline li:nth-child(75) {
  transform: translate(0.000054267px, -97.9999888465px) rotate(720deg);
  transform-origin: 100% 0%;
  animation-delay: 0.75s;
  height: 15px;
}
.clockline li:nth-child(76) {
  transform: translate(6.1535434628px, -97.8066042749px) rotate(723.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.76s;
}
.clockline li:nth-child(77) {
  transform: translate(12.2827535091px, -97.2272203375px) rotate(727.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.77s;
}
.clockline li:nth-child(78) {
  transform: translate(18.3634970283px, -96.2641231618px) rotate(730.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.78s;
}
.clockline li:nth-child(79) {
  transform: translate(24.3717784252px, -94.9211130865px) rotate(734.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.79s;
}
.clockline li:nth-child(80) {
  transform: translate(30.2838887192px, -93.2034896281px) rotate(738deg);
  transform-origin: 100% 0%;
  animation-delay: 0.80s;
  height: 15px;
}
.clockline li:nth-child(81) {
  transform: translate(36.0764992779px, -91.1180305203px) rotate(741.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.81s;
}
.clockline li:nth-child(82) {
  transform: translate(41.7267540882px, -88.6729649092px) rotate(745.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.82s;
}
.clockline li:nth-child(83) {
  transform: translate(47.2123602117px, -85.8779408052px) rotate(748.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.83s;
}
.clockline li:nth-child(84) {
  transform: translate(52.5116760754px, -82.7439869182px) rotate(752.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.84s;
}
.clockline li:nth-child(85) {
  transform: translate(57.603797265px, -79.2834690217px) rotate(756deg);
  transform-origin: 100% 0%;
  animation-delay: 0.85s;
  height: 15px;
}
.clockline li:nth-child(86) {
  transform: translate(62.4686394945px, -75.5100410139px) rotate(759.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.86s;
}
.clockline li:nth-child(87) {
  transform: translate(67.0870184454px, -71.4385908619px) rotate(763.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.87s;
}
.clockline li:nth-child(88) {
  transform: translate(71.4407261813px, -67.0851816357px) rotate(766.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.88s;
}
.clockline li:nth-child(89) {
  transform: translate(75.512603862px, -62.466987856px) rotate(770.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.89s;
}
.clockline li:nth-child(90) {
  transform: translate(79.2866105026px, -57.6022273961px) rotate(774deg);
  transform-origin: 100% 0%;
  animation-delay: 0.90s;
  height: 15px;
}
.clockline li:nth-child(91) {
  transform: translate(82.7478875422px, -52.510089194px) rotate(777.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.91s;
}
.clockline li:nth-child(92) {
  transform: translate(85.8828190111px, -47.2106570444px) rotate(781.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.92s;
}
.clockline li:nth-child(93) {
  transform: translate(88.6790871126px, -41.7248297542px) rotate(784.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.93s;
}
.clockline li:nth-child(94) {
  transform: translate(91.1257230586px, -36.0742379534px) rotate(788.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.94s;
}
.clockline li:nth-child(95) {
  transform: translate(93.2131530334px, -30.2811578648px) rotate(792deg);
  transform-origin: 100% 0%;
  animation-delay: 0.95s;
  height: 15px;
}
.clockline li:nth-child(96) {
  transform: translate(94.9332391876px, -24.3684223409px) rotate(795.6deg);
  transform-origin: 100% 0%;
  animation-delay: 0.96s;
}
.clockline li:nth-child(97) {
  transform: translate(96.2793156012px, -18.3593294835px) rotate(799.2deg);
  transform-origin: 100% 0%;
  animation-delay: 0.97s;
}
.clockline li:nth-child(98) {
  transform: translate(97.2462191902px, -12.2775491622px) rotate(802.8deg);
  transform-origin: 100% 0%;
  animation-delay: 0.98s;
}
.clockline li:nth-child(99) {
  transform: translate(97.8303155734px, -6.1470277492px) rotate(806.4deg);
  transform-origin: 100% 0%;
  animation-delay: 0.99s;
}
.clockline li:nth-child(100) {
  transform: translate(98.0295199561px, 0.0081086134px) rotate(810deg);
  transform-origin: 100% 0%;
  animation-delay: 0.100s;
  height: 15px;
}

.hand {
  --rotation: 0;
  background-color: var(--clock-handel);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-87%) rotate(calc(var(--rotation) * 1deg));
  border-radius: 10px 10px 0 0;
}

.second {
  width: 2px;
  height: 80px;
  background: #f15b5b;
}

.minuts {
  --rotation: 90;
  width: 4px;
  height: 70px;
}

.hours {
  --rotation: 230;
  width: 4px;
  height: 50px;
}

.center {
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: var(--clock-handel);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

/** stopwatch style */
.stopwatch {
  width: var(--maxWidth);
  height: var(--maxHeight);
  flex-direction: column;
  display: none;
}

.sw-wrapper {
  width: 80%;
  height: 50%;
  background-color: var(--bg-clock);
  border-radius: 50%;
  box-shadow: 5px 5px 10px #cfd9e1, -5px -5px 10px #f9ffff;
  position: relative;
}

.sw-timer {
  width: 50%;
  height: 80px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 1.9rem;
}

.sw-Contoler {
  width: 80%;
  height: 60px;
}
.sw-Contoler button {
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  font-size: 1.2rem;
  border-radius: var(--radius);
  box-shadow: var(--neo-shadow);
  text-align: center;
  line-height: 35px;
  background-color: var(--bg-appColor);
  color: var(--clock-handel);
}

.laps {
  flex-direction: column;
  width: 60%;
  height: 100px;
  font-size: 1.2rem;
}
.laps li {
  width: var(--maxWidth);
  height: 30px;
  background-color: var(--bg-btnColor);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 14px 14px 28px #c6cfd9, -14px -14px 28px #ffffff;
}

.alarm {
  width: var(--maxHeight);
  height: 90%;
  display: none;
}

.alarm-wrapper {
  width: inherit;
  height: inherit;
  position: relative;
}

.add-alarm {
  position: absolute;
  top: -13%;
  left: 3%;
  width: 40%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  font-size: 1.5rem;
}
.alarm-modal-container {
  width: 260px;
  height: 60%;
  position: fixed;
  z-index: 1;
  background: var(--bg-appColor);
  border-top: 1px dashed var(--clock-handel);
  opacity: 0;
  transition: all 0.5s ease-in;
  visibility: hidden;
  transform: scale(0);
}

.activeModal {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease-in;
}

.alarm-modal {
  width: var(--maxWidth);
  height: var(--maxHeight);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
}

.celander {
  width: var(--maxWidth);
  height: 120px;
  justify-content: center;
  font-size: 1.7rem;
  flex-wrap: wrap;
  position: relative;
}
.celander .day {
  width: var(--maxWidth);
  height: auto;
  text-align: center;
  font-size: 4.5rem;
}
.celander span {
  position: absolute;
  top: 30%;
  font-size: 2rem;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
}
.celander .left {
  left: 20px;
}
.celander .right {
  right: 20px;
}
.celander .date-info {
  width: 50%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px dashed;
  padding-bottom: 5px;
}

.set-alarm {
  width: var(--maxWidth);
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.set-time {
  width: var(--maxWidth);
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}
.set-time .get-time {
  width: 80%;
  height: 40%;
  font-size: 5rem;
  margin: 8px auto;
}
.set-time .get-time p:nth-child(1), .set-time .get-time p:nth-child(3) {
  width: 96px;
  text-align: center;
}
.set-time .reger-group {
  width: 80%;
  margin: 0 auto;
}
.set-time .reger-group input[type=range] {
  width: 40%;
  display: block;
  -webkit-appearance: none;
  background-color: #bdc3c7;
  height: 8px;
  border-radius: 5px;
}
.set-time .reger-group input[type=range]::-webkit-slider-thumb {
  height: 8px;
  width: 10px;
  background-color: var(--clock-handel);
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
}

.days {
  width: 76%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.days a {
  display: block;
  cursor: pointer;
  width: 40px;
  height: 30px;
  border-radius: 6px;
  box-shadow: var(--neo-shadow);
  text-align: center;
  color: inherit;
  line-height: 25px;
  font-size: 1.1rem;
  font-weight: bold;
}

.alarm-btn {
  width: 35%;
  height: 60px;
  justify-content: space-between;
}
.alarm-btn button {
  width: 40px;
  height: 30px;
  cursor: pointer;
  background-color: var(--bg-btnColor);
  border-radius: 5px;
  box-shadow: var(--neo-shadow);
  border: none;
  color: inherit;
  font-size: 1.5rem;
}

/** toggle button for alarm */
.toggle-btn {
  --width: 50px;
  --height: calc(var(--width) / 2);
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 20%;
}
.toggle-btn span {
  position: absolute;
  top: 2px;
  left: 6px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 20px;
  transition: transform 0.5s ease-in-out;
  color: #9c9fa1;
}

/* check box style*/
.toggle-input {
  display: none;
}
.toggle-input:checked ~ .toggle-box {
  background-color: var(--activeToggle);
}
.toggle-input:checked ~ .toggle-box::after {
  transition: transform 0.5s ease-in-out;
  transform: translateX(var(--height));
}
.toggle-input:checked ~ span {
  transition: transform 0.5s ease-in-out;
  transform: translateX(var(--height));
  color: var(--clock-handel);
}

.toggle-box {
  position: relative;
  --activeToggle: #7bcbdb;
  width: var(--width);
  height: var(--height);
  background-color: #b2b2b7;
  border-radius: 15px;
  box-shadow: 12px 12px 25px #c0c9d3, -12px -12px 25px #ffffff;
  border: 1px solid #ddd;
}
.toggle-box::after {
  content: "";
  transition: transform 0.5s ease-in-out;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

/** append alarm stle */
.appendAlarm-container {
  width: var(--maxWidth);
  height: var(--maxHeight);
  display: flex;
  justify-content: center;
}

.appendAlarm {
  justify-content: space-between;
  width: 90%;
  height: 40px;
  padding: 0 15px;
  background-color: var(--bg-btnColor);
  box-shadow: 5px 5px 10px #c6cfd7, -2px -2px 4px #c6cfd7;
  border-radius: 25px;
  margin-top: 15px;
}

.appendDate {
  width: 80%;
}

.Date-days {
  font-size: 1.2rem;
}
.Date-days li {
  display: inline-block;
}

.Date-time {
  font-size: 2.2rem;
  margin-right: 15px;
}

/** timer style *//*# sourceMappingURL=Style.css.map */